body {
    padding: 0px;
    margin: 0px;
}
.container {
    display: flex;
    background-color: black;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.bulb {
    width: 200px;
    height: 350px;
    background-image: url(../images/bulb.jpg);
    background-position: -230px 0px;
    background-size: 450px 350px;
    background-repeat: no-repeat;
}
.bulb-off {
    background-position: -18px 0px;
}
.button {
    width: 85px;
    height: 36px;
    background-image: url(../images/button.jpg);
    background-position: -18px -13px;
    background-size: 122px 119px;
    margin: 0px auto;
    cursor: pointer;
}
.button-off {
    background-position: -18px -61px;
}